<h1> New Customer Car</h1>
<form action="/promotion" method="post">
    <table>
        <tr>
            <td> Car ID: </td>
            <td> <input type="text" name="car_id" required> </td>
        </tr>

        <tr>
            <td> Customer ID: </td>
            <td> <input type="text" name="customer_id" required> </td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
