<h1> Promotion Details </h1>
<table>
    <tr>
        <td> Car ID: </td>
        <td> <%= onerec.car_id %> </td>
    </tr>
    <tr>
        <td> Customer ID: </td>
        <td> <%= onerec.customer_id %> </td>
    </tr>
</table>
