<h1> Order Details </h1>
<table>
    <tr>
        <td> Order ID: </td>
        <td> <%= onerec.order_id %> </td>
    </tr>
    <tr>
        <td> Service ID: </td>
        <td> <%= onerec.service_id %> </td>
    </tr>
    <tr>
        <td> Sale Price: </td>
        <td> <%= onerec.sale_price %> </td>
    </tr>
    <tr>
        <td> Quantity: </td>
        <td> <%= onerec.quantity %> </td>
    </tr>
</table>
