<h1>Reports Available</h1>
<h3><a href="/report/customer">Customer</a></h3>
<h3><a href="/report/car">Car</a></h3>
<h3><a href="/report/order">Order</a></h3>
<h3><a href="/report/promotion">Promotion</a></h3>
<h3><a href="/report/service_report">Services</a></h3>
