<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <section id="about">
        <div class="container text-center">
            <div class="about-description">
        <h1>About Midwest Auto Detailing</h1>
        <p>Midwest Auto Detailing is a backyard detailing shop, we offer many services ranging from a simple wash, interior detail, compounding, polishing and more complicated stuff like paint correction, ceramic coating. Not only we offer services, we also offer quality products like compounds, polishes, microfiber cloths, clay bars, wash soap, cleaning brushes for exterior cleaning and leather, cloth, and dash cleaners and conditioners for all of the interior parts. </p>
        <img src="/images/location-map.PNG">
            </div></div>
    </section>
</body>

</html>
