<div id="footer" class="footer-whole" >
  
    <div class="container-footer">

      <div class="col-left">
        Email us <br>
        something@nsa.com
      </div>

          <div class="col-middle">
            <a href="/help">help</a>
          </div>

            <div class="col-right">
              <a href="/privacy">privacy</a>
            </div>

    </div>

</div>  
</div>
