<div id="footer" >
  
    <div class="footer-row">
  <div class="footer-column col-leftsub">Email us <br>
        something@nsa.com</div>
        <div class="footer-column col-mid"><a href="/help">help</a></div>
  <div class="footer-column col-right"><a href="/privacy">privacy</a></div>
</div>  
</div>
