<table class="header-table">
    <tr width='100%'>
        <td width='15%' align='left'>
            <a href="/"><img src="/images/logo-main.png"> </a>
        </td>
        <td  align='center'>
            <form action ="/search" method='post'>
                <input type = "text" name="searchcriteria">
                <input type = "submit" value = "Search">
            </form>
        </td>
        <td>
            <a href="/catalog/cart"><i class="fas fa-user" style= "font-size:48px;"></i></a>
            <a href="/catalog/cart"><i class="fas fa-shopping-cart" style="font-size:48px;"></i></a>
        </td>
        <!--<td alight="right" width='2%' >Login</td>-->
        <!-- <td  alight="right" width='2%'>Cart</td>-->
    </tr>
</table>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/catalog">Catalog</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <a href="/service">Services</a>
    <a href="/car">Car</a>
    <a href="/customer">customer</a>
    <a href="/promotion">Promotion</a>
    <a href="/workorder">Work Order</a>
    <a href="/review">Review</a>
    <a href="/order_detail">Order Detail</a>
    <a href="/report">Reports</a>

<!--    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">More</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="/customer">customer</a>
            <a href="/service">Services</a>
            <a href="/promotion">Promotion</a>
        </div>
    </div> -->
</div>

