<table class="header-table"> <tr>
	<td width='20%' align='left'>
		<a href="/"><img src="/images/logo-main.png" > </a></td> 
    <td width='60%' align='center'><h1>Midwest Auto Detailing</h1></td>
   	 <!--<td alight="right" width='2%' >Login</td>-->
   	<!-- <td  alight="right" width='2%'>Cart</td>-->
</tr></table>
<div class="topnav">
  <a  href="/">Home</a>
  <a href="/product">Product</a>
    <a href="/services">Services</a>
  <a href="/contact">Contact</a>
  <a href="/about">About</a>
  <a href="/customer">customer</a>
    <a>More</a>
        </div>