<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Midwest Auto Detailing</h1>
    <p>Welcome to the place where your car gets the love it deserves</p>
      <p>Choose a detailing package and watch your car get cleaned</p>
  </body>
</html>
